{% extends 'healthyrecipeapp/layout.html' %}

{% block content %}

<p>
    <h4>Total calorie of current meal is: <strong style="color:red;">{{total_calorie}}</strong></h4>
    <h4>Total prepare time for current meal is: <strong style="color:red;">{{total_prep_time}}</strong></h4>
    <br>
<p>

<p>
    <h4><em style="color:blue;">What you already have in your cart:</em></h4>
</p>

<ul>
  {% for recipe in user_meal %}
  <p>
      <li>{{recipe.1}}
        <form action="/cart" method="get">
         <label>Click to delete recipe </label>
         <input type="submit" value={{ forloop.counter }} name="mybtn">
        </form>
    </li>
  </p>
  {% endfor %}
</ul>

<p>
    <h4><em style="color:blue;">Recommended meals:</em></h4>
</p>

<ul>
  {% for rec in recs %}
    <p>
      <li><a href="/recipes/{{ rec.1 }}">{{rec.0}}</a>
        <form action='/cart' method="get">
         <label>Click to add recommended recipe </label>
         <input type="submit" value={{ forloop.counter }} name="mybn">
        </form>
      </li>
    </p>
  {% endfor %}
</ul>

{% endblock %}