{% extends 'healthyrecipeapp/layout.html' %}

{% block content %}

<p>
    <h4>Total calorie of current meal is: <strong style="color:red;">{{total_calorie}}</strong></h4>
    <h4>Total prepare time for current meal is: <strong style="color:red;">{{total_prep_time}}</strong></h4>
    <br>
<p>

<ul class="collection">
  {% for recipe in user_meal %}
  <p>
      <li>{{recipe.1}}
        <form action="/cart" method="get">
         <label>Click to delete recipe </label>
         <input type="submit" value={{ forloop.counter }} name="mybtn">
        </form>
    </li>
  </p>
  {% endfor %}
</ul>
{% endblock %}