{% extends 'healthyrecipeapp/layout.html' %}

{% block content %}
<!--<h5 id="demo" class ='testcss' onclick="foo()">Let's see if CSS and Javascript work...</h5>-->
<h1 class="text-center">Welcom to Healthy recipe</h1>
<br>

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form action="" method="get">
            <p>
                <input type="text" name = "search_box">
                <input type="submit" class="btn btn-primary" value="Search"/>
            </p>
        </form>
    </div>
    
    <div class="col-md-4 col-md-offset-4">
        <form action="" method="get">
            <p>
                <input type="submit" class="btn btn-danger" value="Profile" name="profile">
            </p>
        </form>
    </div>
    
    <div class="col-md-4 col-md-offset-4">
        <form action="" method="get">
            <p>
                <input type="submit" class="btn btn-success" value="Cart" name="cart">
            </p>
        </form>
    </div>
</div>


<!--<ul class="collection">-->
<!--  {% for recipe in recipes %}-->
<!--    <li><strong>Name: </strong>{{recipe.1}}</li>-->
<!--    <img src={{recipe.5}} alt="Recipe ImageURL">-->
<!--    <br>-->
<!--    {% endfor %}-->
<!--</ul>-->
{% endblock %}