{% extends 'healthyrecipeapp/layout.html' %}

{% block content %}
<form action="" method="get">
    <input type="submit" class="btn" value="go to cart" name="cart">
</form>
<form action="" method="get">
  <input type="text" name = "search_box">
  <input type="submit"value="Search"/>
</form>
<h5 class="center-align blue lighten-3">Signed in as: {{request.user.username}}</h5>

<ul class="collection">
  {% for recipe in recipes %}
    <li class="collection-item">{{recipe}}</li>
  {% endfor %}
</ul>
{% endblock %}